{{ define "main" }}

  <section class="section blog-list py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12 col-xl-6">
          {{ with .Title }}
            <h2 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      {{ $pages := .RegularPages }}
      {{ $categorizedPages := dict }}
      {{ range $pages }}
        {{ $category := default "No Category" .Params.category }}
        {{ if not (index $categorizedPages $category) }}
          {{ $categorizedPages = merge $categorizedPages (dict $category slice) }}
        {{ end }}
        {{ $listofposts := index $categorizedPages $category }}
        {{ $listofposts = $listofposts | append . }}
        {{ $categorizedPages = merge $categorizedPages (dict $category $listofposts) }}
      {{ end }}
      {{ $categorizedPagesSlice := slice }}
      {{ range $category, $pages := $categorizedPages }}
        {{ $categorizedPagesSlice = $categorizedPagesSlice | append (dict "category" $category "pages" $pages) }}
      {{ end }}
      {{ $categorizedPagesSlice = sort $categorizedPagesSlice ".category" "desc"  }}
      {{ range $categorizedPagesSlice }}
        {{ $category := .category }}
        {{ $pages := .pages }}
        {{ if ne $category "No Category" }}
          <h3 class="text-black-61 fw-bold text-center pb-3">{{ $category }}</h3>
        {{ end }}
        <div class="row g-4 pb-5">
          {{ range $pages }}
            {{ $page := . }}
            <div class="col-12 col-md-6 col-lg-4">
              <a class="card text-decoration-none h-100" href="{{ if $page.Params.link }}{{ $page.Params.link }}{{ else }}{{ $page.Permalink }}{{ end }}"
              {{ if eq $page.Params.disabledlink "true" }}style="pointer-events: none"{{ end }}>

                <div class="aspect-ratio-62-5">
                  {{ with ( partial "utilities/get-featured-image.html" $page ) }}
                    {{ partial "utilities/card-img-top" . }}
                  {{ end }}
                </div>
                <div class="card-body">
                  <h5 class="card-title fw-semibold">{{ $page.Title }}</h5>
                  <p class="card-text text-black-61 fw-semibold">{{ $page.Params.description }}</p>
                  {{ $page.Params.dates }}
                  <p class="card-text text-black-61">{{ $page.Summary | plainify }}</p>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      {{ end }}
      <!-- <div class="row pb-5">
        {{ template "_internal/pagination.html" . }}
      </div> -->
    </div>
  </section>
{{ end }}