{{ define "main" }}
  {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.home.brands }}{{ partial "sections/brands.html" . }}{{ end }}
  {{ with .Site.Data.home.highlights }}{{ partial "sections/highlights.html" . }}{{ end }}
  {{ with .Site.Data.home.info }}{{ partial "sections/info.html" . }}{{ end }}
  {{ with .Site.Data.home.testimonials }}{{ partial "sections/testimonials.html" . }}{{ end }}
  {{ with .Site.Data.home.cta }}{{ partial "sections/cta.html" . }}{{ end }}
{{ end }}
